{% extends "layout.html" %}

{% block title %}
    Set Password
{% endblock %}

{% block main %}
    <h1 class="mb-5">Activate Account & Set Password</h1>
    <form action="/set_password" method="POST">
        {% for field in fields %}

            <div class="row g-3 align-items-center justify-content-center mb-sm-3">
                <div class="col-3 text-end">
                    <label for="{{ field['name'] }}" class="col-form-label">{{ field['label'] }}:</label>
                </div>
                <div class="col-lg-5 col-7">
                    {% if field['value'] %}
                        <input autocomplete="off" class="form-control" id="{{ field['name'] }}" name="{{ field['name'] }}" type="{{ field['type'] }}" value="{{ field['value'] }}" readonly>
                    {% else %}
                        <input autocomplete="off" autofocus class="form-control" id="{{ field['name'] }}" name="{{ field['name'] }}" type="{{ field['type'] }}" required>
                    {% endif %}
                </div>
                <div class="col-lg-3 col-sm-2"></div>
            </div>

        {% endfor %}
        <input type="hidden" name="admin_id" value="{{ admin_id }}">
        <input type="hidden" name="account_hash" value="{{ account_hash }}">
        <button class="btn btn-primary" type="submit">Set Password</button>
    </form>
{% endblock %}